<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <p class="fancy-link m-2"><%= link_to "About", "#" %></p>
    <p class="fancy-link m-2"><%= link_to "Privacy", "#" %></p>
    <p class="fancy-link m-2"><%= link_to "Disclosure & Disclaimer", "#" %></p>
  </div>
  <div class="footer-copyright">
    Copyright @ <%= Date.today.year %> Buzz Reads
  </div>
</div>
