<div class="sidebar">
  <%# <%= link_to "Today", student_reading_group_daily_reading_path(@daily_reading) %> %>
  <%# <%= link_to "Another Date", student_reading_group_daily_reading_path(@daily_reading) %> %>
</div>
