<div class="landing-image" style="background-image: url(https://res.cloudinary.com/dm37aktki/image/upload/v1644318226/duck-home_bm4dju.png)">
<h1>Buzz Reads</h1>
<h2><%= link_to "Go to My Group!", reading_group_path %></h2>
