<div class="landing-image" style="background-image: url(https://res.cloudinary.com/dm37aktki/image/upload/v1645451853/reading_offooz.png)">
<div class="head">
  <div id="logo">
    <%= cl_image_tag("buzz_reads_r1zkbs") %>
  </div>
  <h1>Buzz Reads</h1>
</div>
<br>
<button class="btn-home">Login</button>
