<div class="landing-image" style="background-image: url(https://res.cloudinary.com/dm37aktki/image/upload/v1645451853/reading_offooz.png)">
<br>
<br>
<br>
<div class="signup-block">
  <div class="homepage-card home-text ml-3">
    <h3>Reading right today!</h3>
    <br>
    <br>
    <br>
    <%= link_to '<button class="btn-home">Signup Now!</button>'.html_safe, new_user_session_path %>
  </div>
  <div class="guided-reading-intro home-text mr-5">
    <h3>Why guided reading?</h3>
    <p>Small reading groups help each child focus on his/ her specific needs.</p>
    <p>Let technology transform your classroom reading groups!</p>
  </div>
</div>

<%# book cover samples %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="home-text ml-3">Library</h1>
<div class="cover-images">
  <%= cl_image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1645566231/development/65w3tdfn58fv1yc7piadykpykx21.jpg") %>
</div>

<%# footer %>
<%= render "shared/footer" %>
