<div class="wrapper">
  <div class="push"></div>
  <h1 class="text-center font-weight-bold text-white pt-5">Welcome, <%= current_user.name  %>!</h1>
  <h1 class="text-center font-weight-bold text-white pt-5">Choose Your Reading Group Below:</h1>
  <div class="subscription-btn-group">

    <% @reading_groups.each do |rg| %>

      <%= link_to reading_group_path(rg.id) do %>
        <div class="subscription-btn text-center #{rg_button}">
          <div class="cover-img"><%= cl_image_tag(rg.daily_readings.first.cover)  %></div>
          <h3 class="text-center"><%= rg.name  %></h3>
        </div>
      <% end %>

    <% end %>
  </div>
  <div class="push"></div>
</div>
