<div>
  <%= @reading_group.daily_readings.last.excerpt %>
</div>

<br>

<div>
  <ul>
    <% @reading_group.questions.each do |question| %>
      <li><%= question.content %></li>
    <% end %>
  </ul>
</div>
