// colours
$dyslexia_background: #FFFBF7;
$lightest_blue: #E6F0F3;
$light_blue: #C8E4EE;
$light_orange: #F38A63;
$coral: #F16B3A;
$medium_orange: #DB6328;
$dark_orange: #B13A1A;

.open-button {
  background-color: $dark_orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 100px;
  left: 0px;
  width: 216px;
  &:hover {
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 0px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
}
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
.close:hover {
  cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
}
/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}
.btn-chat {
  background-color: $dark_orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  &:hover{
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
}
#btn-cancel {
  background-color: $dark_orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  &:hover {
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
}
.form-container .btn-chat:hover, .open-button:hover {
  opacity: 1;
}
