// colours
$dyslexia_background: #FFFBF7;
$lightest_blue: #E6F0F3;
$light_blue: #C8E4EE;
$light_orange: #F38A63;
$coral: #F16B3A;
$medium_orange: #DB6328;
$dark_orange: #B13A1A;

.cover-img img {
  width: 120px;
  height: 180px;
  border-radius: 4px;
  padding-bottom: 10px;
}
.cover-img h3 {
  position: fixed;
  bottom: 10px;
}
