$dyslexia_background: #FFFBF7;
$lightest_blue: #E6F0F3;
$light_blue: #C8E4EE;
$light_orange: #F38A63;
$coral: #F16B3A;
$medium_orange: #DB6328;
$dark_orange: #B13A1A;

.daily-sidebar {
  display: table-cell;
  padding: 50px;
  background-color: $coral;
}

.daily-text {
  display: table-cell;
  background-color: $dyslexia_background;
  table-layout: auto;
  height: 100%;
  width: 75%;
  left: 0;
  line-height: 2.4;
  padding: 100px;
  white-space: pre-wrap;
  font-size: 16px;
  text-align: justify;
  word-break: break-all;
  -moz-text-align-last: left;
  text-align-last: left;
  z-index: 0;
}

.highlighted-text {
  background-color: #ffdf65 ;
}

.no-highlight {
  background-color: $dyslexia_background;
}

.student-list {
  display: table-cell;
}

.student-list h3 {
  font-weight: bold;
  color: white;
  margin-left: 20%;
}

.student-list li.absent {
  list-style: none;
  text-align: center;
  background-color: $light_orange;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  padding-top: 14px;
  margin-left: 40%;
  opacity: 1;
  border: 4px solid $dark_orange;
}
.student-list li.present {
  opacity: 0.4;
  list-style: none;
  text-align: center;
  background-color: $light_orange;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  padding-top: 14px;
  margin-left: 40%;
  border: 4px solid $light_blue;
}

.daily-questions {
  display: table-cell;
  align-items: left;
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  // width: 310px;
  max-width: 100px;
  overflow-wrap: break-word;
}
.question-buttons {
  margin: 48px;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 100%;
  overflow: scroll;
  table-layout: auto;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $lightest_blue;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark_orange;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $medium_orange;
}

// objective
.objective-bar {
  background-color: $light_blue;
  color: $dark_orange;
  height: 60px;
}
.objective-title {
  margin-left: 40px;
  display: inline-block;
  border: 3px $dark_orange;
  padding-top: 10px;
}
.objective-content {
  margin-left: 20px;
  display: inline-block;
  padding-top: 10px;
}

.book-btn {
  border-radius: 7px;
  padding: 40px;
  margin: 50px;
  height: 300px;
  width: 300px;
  border: 8px solid $dark_orange;
  background-color: $lightest_blue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  &:hover {
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(3px);
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
}

.book-btn a, h3, h4, a:hover, h3:hover, h4:hover {
  color: $dark_orange;
  font-weight: bold;
  text-decoration: none;
}

.check {
  opacity: 40%;
  z-index: 100;
  background: url("https://res.cloudinary.com/dm37aktki/image/upload/c_scale,w_40/v1647272477/Depositphotos_10916813_S_vz157v.png") no-repeat top right;
}
