// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/sidebar";
@import "components/login";
@import "components/daily_show";
@import "components/chat";

// colours
$dyslexia_background: #FFFBF7;
$lightest_blue: #E6F0F3;
$light_blue: #C8E4EE;
$light_orange: #F38A63;
$coral: #F16B3A;
$medium_orange: #DB6328;
$dark_orange: #B13A1A;

body, p, h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
  cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
}
a {
  cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
}
.btn:not(:disabled):not(.disabled) {
  cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
}

.modal-questions-btn {
  background-color: $light_blue;
  color: $dark_orange;
  font-weight: bolder;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  &:hover {
    box-shadow: inset 1px 2px 5px #777;
    background-color: $lightest_blue;
    color: $dark_orange;
    transform: translateY(1px);
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
  &:active {
    box-shadow: inset 1px 2px 5px #777;
    background-color: $lightest_blue;
    color: $dark_orange;
    transform: translateY(1px);
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
  &:focus {
    box-shadow: inset 1px 2px 5px #777;
    background-color: $lightest_blue;
    color: $dark_orange;
    transform: translateY(1px);
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
}

// links

.fancy-link a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: $dark_orange;
  font-weight: bold;
}

.fancy-link a::before,
.fancy-link a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.fancy-link a::before {
  background-color: $dark_orange;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.fancy-link a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: $dark_orange;
}

.fancy-link a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.fancy-link a:hover::after {
  transform: translate3d(0, 0, 0);
}

.fancy-link a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.fancy-link a:hover span {
  transform: translate3d(-200%, 0, 0);
}

// footer
.footer {
  background-color: $light_blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  padding: 0px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $dark_orange;
  opacity: 1;
  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: .15;
}

// content for pages with sidebar
.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#logo img {
  width: 50px;
  height: 100%;
}

// landing page

.landing-image {
  // min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dm37aktki/image/upload/v1646478779/reading_offooz-e_brightness_-49_gsd8b9.png");
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // margin-bottom: -100px;
}

.home-text {
  color: white;
  font-weight: bold;
}
.btn-home {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  &:hover {
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(1px);
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
}

.head {
  display: flex;
  flex: 2;
}

// subcription button row of home

.subscription-btn-group {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding-bottom: 200px;
}

.subscription-btn {
  border-radius: 7px;
  padding: 40px;
  margin: 50px;
  height: 300px;
  width: 300px;
  background-color: $lightest_blue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  &:hover {
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(3px);
    cursor: url("https://img.icons8.com/dusk/50/000000/hand-cursor.png"), auto;
  }
}
.subscription-btn a, h3, h4, a:hover, h3:hover, h4:hover {
  color: $dark_orange;
  font-weight: bold;
  text-decoration: none;
}

.subscription-img img {
  width: 150px;
  height: 100%;
  border-radius: 50%;
}

.homepage-card {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-color: $coral;
  background-size: contain;
  position: relative;
  left: 40%;
  transform: translate(-50%);
  padding: 10px;

  // width: calc(100% - 100px);
  // max-width: 1200px;
  // z-index: 100;
}

.guided-reading-intro {
  padding: 10px;
  background-color: $lightest_blue;
  opacity: 0.9;
  border-radius: 7px;
  width: 80%;
  height: 100%;
  position: relative;
  left: 10%;
  margin-top: 75px;
  line-height: 5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.c-2-a {
  margin-top: 200px;
}
// library section of home

.cover-images {
  margin-bottom: 200px;
}

.cover-images img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 300px;
  margin: 24px;
  align-items: center;
}
